In [3]:
import pandas as pd

# Classe - Tabela de Cenas

In [4]:
class Cena:

    def __init__(self):
        d={'Min_i':[0],'Seg_i':[0],'Min_f':[''],'Seg_f':['']}
        self.DF=pd.DataFrame(d,columns=['Min_i','Seg_i','Min_f','Seg_f'],index=['Cena1'])
        self.cena_atual=1
        self.coluna_atual=0
        
    def data(self):
        return self.DF
    
    def atual(self):
        return 'Cena'+str(self.cena_atual)
    
    def col_atual(self):
        return 'P'+str(self.coluna_atual)
    
    def seg(self,m,s):
        return 60*m+s
    
    def tempoi(self,L):
        if self.DF.shape[0]==1:
            self.DF.iloc[-1,0]=L[0]
            self.DF.iloc[-1,1]=L[1]
        elif self.seg(L[0],L[1])>=self.seg(self.DF.iloc[-2,2],self.DF.iloc[-2,3]):
            self.DF.iloc[-1,0]=L[0]
            self.DF.iloc[-1,1]=L[1]
        else:
            print('Tempo Inicial <= Tempo Final da cena anterior')
        
    def tempof(self,L):
        var=self.seg(L[0],L[1])-self.seg(self.DF.iloc[-1,0],self.DF.iloc[-1,1])
        if var>0 and var <60:
            self.DF.iloc[-1,2]=L[0]
            self.DF.iloc[-1,3]=L[1]
            self.cena_atual+=1
            self.coluna_atual=0
            self.DF.loc[self.atual()]=['']*self.DF.shape[1]
            if L[1]==59:
                self.tempoi([L[0]+1,0])
            else:
                self.tempoi([L[0],L[1]+1])
        elif var<=0:
            print('Tempo Final <= Tempo Inicial')
        else:
            print(self.atual()+' possui mais de 1 minuto')
            
    def proc(self,ID):
        DF1=self.DF.iloc[[self.cena_atual-1],4:self.coluna_atual+4]==ID
        v1=sum(DF1.sum())
        if v1!=0:
            return True
        else:
            return False
           
    def conv(self,personagem):
        if type(personagem)==str:
            pass
        elif type(personagem)==int:
            return personagem
        else:
            print('ID incorreto')
    
    def novo(self,personagem):
        ID=self.conv(personagem)
        if self.proc(ID):
            print('ID repetido na cena')
        else:
            self.coluna_atual+=1
            if self.coluna_atual > self.DF.shape[1]-4:
                self.DF[self.col_atual()]=['']*self.DF.shape[0]
            self.DF.loc[self.atual(),self.col_atual()]=ID
            
    def novos(self,lista):
        for i in range(len(lista)):
            self.novo(lista[i])
        
    def corrigir():
        pass
    
    def csv(self,nome):
        self.DF.to_csv(nome+'.csv')
    
    def excel(self,nome):
        self.DF.to_excel(nome+'.xlsx')

In [5]:
IJ=Cena()

In [10]:
IJ.data()

      Min_i Seg_i Min_f Seg_f P1 P2 P3  P4  P5  P6  P7  P8  P9 P10 P11
Cena1     0    22     1    21  1  2  3   4   5   6   9  20
Cena2     1    22     1    57  1  2  3   4   5   6   9  10
Cena3     1    58     2    26  1  3  5   8
Cena4     2    27     3     7  2  3  5  11  12  13  14
Cena5     3     8     3    23  1  3  5
Cena6     3    24     4    23  4  5  7   9  15  16  18  21  22
Cena7     4    24     4    59  1  2  3   4   5   6   7   9  15  16  18
Cena8     5     0

In [7]:
IJ.tempoi([0,22])
IJ.novos([1,2,3,4,5,6,9,20])
IJ.tempof([1,21])

In [9]:
IJ.novos([1,2,3,4,5,6,9,10])
IJ.tempof([1,57])
IJ.novos([1,3,5,8])
IJ.tempof([2,26])
IJ.novos([2,3,5,11,12,13,14])
IJ.tempof([3,7])
IJ.novos([1,3,5])
IJ.tempof([3,23])
IJ.novos([4,5,7,9,15,16,18,21,22])
IJ.tempof([4,23])
IJ.novos([1,2,3,4,5,6,7,9,15,16,18])
IJ.tempof([4,59])

In [130]:
IJ.excel('Irmao do Jorel EP1 Cena')