In [1]:
jupyterhub = '/dados/home/joaoviniciuspr'
jupyterlab = '/Users/jjoao/OneDrive/Documentos/Faculdade'
directory = jupyterlab+'/IC_Redes/Trabalhos/UCM/Fase1/Homem_de_Ferro_1'

In [2]:
import pandas as pd
import sys
sys.path.insert(0,jupyterlab+'/IC_Redes/Funcoes')
from ID import ID
from Scene import Scene
from Relation import Relation

In [3]:
hf=ID(directory)

In [4]:
hf.new('Tony Stark / Homem de Ferro','Tony','Robert Downey Jr.')
hf.new('James Rhodes / Maquina de Combate','Rhodes','Terrence Howard')
hf.new('Obadiah Stane / Monge de Ferro','Monge','Jeff Bridges')
hf.new('Pepper Potts','Pepper','Gwyneth Paltrow')
hf.new('Christine Everhart','Chris','Leslie Bibb')
hf.new('Yinsen','Yin','Shaun Toub')
hf.new('Raza','Raza','Faran Tahir')
hf.new('Phillip Coulson / Agente Coulson','Phil','Clark Gregg')
hf.new('General Gabriel','General','Bill Smitrovich')
hf.new('Abu Bakar','Abu','Sayed Badreya')
hf.new('Jarvis','IA','Paul Bettany')
hf.new('Harold Hogan','Happy','Jon Favreau')
hf.new('William Ginter Riva','Will','Peter Billingsley')
hf.new('Major Allen','Major','Tim Guinee')
hf.new('Howard Stark','Howard','Gerard Sanders')
hf.new('Nick Fury','Nick','Samuel L. Jackson')
hf.new('Stan Lee','Stan','Stan Lee')

In [5]:
hf.new('Narrador da Cerimonia','NCP','Will Lyman')
hf.new('Terrorista Gritador 1','GG1','Daston Kalili')
hf.new('Terrorista Gritador 2','GG2','Ido Ezra')
hf.new('Terrorista 1','G1','Tom Morello')
hf.new('Terrorista 2','G2','Marco Khan')
hf.new('Terrorista Ahmed','Ahmed','Ahmed Ahmed')
hf.new('Terrorista Omar','Omar','Fahim Fazli')
hf.new('Soldado Jimmy','Jimmy','Kevin Foster')
hf.new('Soldado Pratt','Pratt','Garrett Noel')
hf.new('Soldado Ramirez','Rami','Eileen Weisinger')
hf.new('Piloto de caca 1','PC1','Tim Rigby')
hf.new('Piloto de caca 2','PC2','Russell Richardson')
hf.new('Reporter Amira Ahmed','Amira','Nazanin Boniadi')
hf.new('Colonel Craig','Craig','Thomas Craig Plumer')
hf.new('Negociante na mesa de Craps','NMC','Robert Berkman')
hf.new('Mulher na mesa de Craps 1','MMC1','Stacy Stas')
hf.new('Mulher na mesa de Craps 2','MMC2','Lauren Scyphers')
hf.new('Engenheiro Frank Nyi','Eng','Dr. Frank Nyi')
hf.new('Oficial da Forca Aerea','OFA','Marvin Jordan')
hf.new('Jim Cramer','Jim','Jim Cramer')
hf.new('Mulher no Carro SUV','MCS','Donna Evans Merlo')
hf.new('Criança no Carro SUV 1','CCS1','Reid Harper')
hf.new('Criança no Carro SUV 2','CCS2','Summer Kylie Remington')
hf.new('Criança no Carro SUV 3','CCS3','Ava Rose Williams')
hf.new('Criança no Carro SUV 4','CCS4','Vladimir Kubr')
hf.new('Criança no Carro SUV 5','CCS5','Callie Marie Croughwell')
hf.new('Criança de Gulmira','CG','Javan Tahir')
hf.new('Mulher de Gulmira','MG','Sahar Bibiyan')
hf.new('Reporter 1','R1',"Patrick O'Connell")
hf.new('Reporter 2','R2','Adam Harrington')
hf.new('Reporter 3','R3','Meera Simhan')
hf.new('Reporter 4','R4','Ben Newmark')
hf.new('Reporter 5','R5','Nick Nicholson')
hf.new('Aeromoca 1','A1','Ricki Noel Lander')
hf.new('Aeromoca 2','A2','Jeannine Kaspar')
hf.new('Aeromoca 3','A3','Sarah Cahill')
hf.new('Tenente da Forca Aerea','TFA','Justin Rex')
hf.new('Zorianna Kit','Kit','Zorianna Kit')
hf.new('Garota do Stan 1','GS1','Lana Kinnear')
hf.new('Garota do Stan 2','GS2','Nicole Lindeblad')
hf.new('Garota do Stan 3','GS3','Masha Lund')
hf.new('Garota do Stan 4','GS4','Gabrielle Tuite')
hf.new('Analistas da CAOC 1','AC1','Tim Griffin')
hf.new('Analistas da CAOC 2','AC2','Joshua Harto')
hf.new('Analistas da CAOC 3','AC3','Micah Hauptman')
hf.new('Analistas da CAOC 4','AC4','James Bethea')
hf.new('Beleza de Dubai','BD','America Olivo')
hf.new('Jornalista','Jorn','Brett Padelford')
hf.new('Bombeiro no teto','BT','George Watson')

In [7]:
hf.csv()

In [8]:
IJ2=Scene(directory)

In [ ]:
IJ2.timei(0,22)
IJ2.news([1,2,3,4,5,6,9,20])
IJ2.timef(1,21)
IJ2.news([1,2,3,4,5,6,9,10])
IJ2.timef(1,57)
IJ2.news([1,3,5,8])
IJ2.timef(2,26)
IJ2.news([2,3,5,11,12,13,14])
IJ2.timef(3,7)
IJ2.news([1,3,5])
IJ2.timef(3,23)
IJ2.news([5,7,9,15,4,16,18,21,22])
IJ2.timef(4,23)
IJ2.news([2,3,4,5,6,1,7,9,15,16,18])
IJ2.timef(4,59)

In [ ]:
IJ2.data()

,Min_i,Seg_i,Min_f,Seg_f,Number,P1,P2,P3,P4,P5,P6,P7,P8,P9,P10,P11
Scene,,,,,,,,,,,,,,,,
Scene1,0,22,1,21,8,001,002,003,004,005,006,009,020,,,
Scene2,1,22,1,57,8,001,002,003,004,005,006,009,010,,,
Scene3,1,58,2,26,4,001,003,005,008,,,,,,,
Scene4,2,27,3,7,7,002,003,005,011,012,013,014,,,,
Scene5,3,8,3,23,3,001,003,005,,,,,,,,
Scene6,3,24,4,23,9,004,005,007,009,015,016,018,021,022,,
Scene7,4,24,4,59,11,001,002,003,004,005,006,007,009,015,016,018
Scene8,5,0,,,,,,,,,,,,,,

In [ ]:
IJ2.csv()

In [ ]:
IJ3=Relation(directory)

In [ ]:
IJ3.execut()

In [ ]:
IJ3.data()

    Source Target   Weight
ID
1      001    002      2.2
2      001    003     2.95
3      001    004      2.2
4      001    005     2.95
5      001    006      2.2
6      001    009      2.2
7      001    020        1
8      002    003  2.88333
9      002    004      2.2
10     002    005  2.88333
11     002    006      2.2
12     002    009      2.2
13     002    020        1
14     003    004      2.2
15     003    005  3.63333
16     003    006      2.2
17     003    009      2.2
18     003    020        1
19     004    005      3.2
20     004    006      2.2
21     004    009      3.2
22     004    020        1
23     005    006      2.2
24     005    009      3.2
25     005    020        1
26     006    009      2.2
27     006    020        1
28     009    020        1
29     001    010      0.6
30     002    010      0.6
..     ...    ...      ...
76     009    016      1.6
77     009    018      1.6
78     009    021        1
79     009    022        1
80     015    016      1.6
81     015    018      1.6
82     015    021        1
83     015    022        1
84     016    018      1.6
85     016    021        1
86     016    022        1
87     018    021        1
88     018    022        1
89     021    022        1
90     001    007      0.6
91     001    015      0.6
92     001    016      0.6
93     001    018      0.6
94     002    007      0.6
95     002    015      0.6
96     002    016      0.6
97     002    018      0.6
98     003    007      0.6
99     003    015      0.6
100    003    016      0.6
101    003    018      0.6
102    006    007      0.6
103    006    015      0.6
104    006    016      0.6
105    006    018      0.6

[105 rows x 3 columns]

In [ ]:
IJ3.csv()

In [25]:
idd=pd.DataFrame(columns=['Label','Nick','Actor'],dtype=str)

In [30]:
idd.loc[:,['Label','Nick']]

Empty DataFrame
Columns: [Label, Nick]
Index: []